$font: "Sofia", sans-serif;

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 195px;
  perspective: 1000px;
  padding: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover .line {
  border-color: yellow;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #c9e9f6;
  color: black;
  transform: rotateY(180deg);
}

.back-card-container {
  width: 100%;
  height: 100%;
  border: solid black;
  display: flex;

  flex-direction: column;
  align-content: center;
  div {
    font-family: $font;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-to-read-list {
    display: flex;
    border-top: solid thin black;
    flex-direction: column;
    p {
      font-size: 12px;
      //   padding: 3px 10px;
    }
  }
}

.fas:hover {
  color: rgb(15, 171, 223);
  transform: scale(1.1);
}

.bookCardContainer {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  //   padding: 10px;
  //   margin: 10px;
  max-width: 150px;
  border-radius: 2%;
  //   border-width: thin;
  //   border-color: black;

  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  img {
    width: 150px;
    height: 195px;
    background-size: cover;

    background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;

    padding: 0px;
    margin: 0px;
  }
  p {
    font-family: $font;
    font-size: 18px;
    padding: 8px 0px 0px 0px;
    margin: 0px;
  }
  .subtitle {
    text-align: center;
    font-size: 13px;
    padding: 3px;
  }
  span {
    align-self: center;
    border: solid thin black;
    width: 70%;
    margin: 7px;
    opacity: 60%;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
