@import "mixins";
@import "variables";

.flipcard {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  padding: 10px;
  &__inner {
    @include relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  &__front {
    @include absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &__card {
    @include flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: flex-start;
    border-radius: 2%;
    transition: 0.3s;
    img {
      border: solid $primary-color;
      min-height: 100%;
      width: 100%;
      // border: solid red;
    }
    .flipcard__details {
      @include flex;
      justify-items: center;
      align-self: center;
      p {
        @include paragraph;
      }
      .subtitle {
        @include paragraph;
        text-align: center;
        // font-size: 13px;
        padding: 3px;
      }
      span {
        align-self: center;
        border: solid thin $primary-color;
        width: 70%;
        margin: 7px;
        opacity: 60%;
      }
    }
  }
  &__back {
    @include absolute;
    background-color: $card-bg-color;
    color: $primary-color;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &__backcard {
    @include flex;
    width: 100%;
    height: 100%;
    border: solid $primary-color;
    align-content: center;
    div {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .add-to-read-list {
      @include flex;
      border-top: solid thin $primary-color;
      p {
        font-size: 12px;
      }
    }
  }
}

.flipcard:hover .flipcard__inner {
  transform: rotateY(180deg);
}
.flip-card:hover .line {
  border-color: yellow;
}
.fas:hover {
  color: $back-card-color;
  transform: scale(1.1);
}
