@import "mixins";
@import "variables";

.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s ease-in;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  &__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border: 1px solid $bg-color;
    border-radius: 4px;
  }
  &__btn-close {
    color: $bg-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
}

.show-modal {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition: visibility 1s, opacity 1s linear;
}
