@import "variables";
@import "mixins";

#search-input {
  border: 1px solid $border-color;
}
.search {
  @include flex;
  margin-top: 80px;

  &__logo {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
  &__input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 3px;
    margin: 10px auto;
    border: 1px solid black;
  }
}
