@import "mixins";
@import "variables";

.wishlist {
  @include flex;
  @include fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 0.5s ease-in;
  bottom: 10px;
  right: 10px;
  border: solid thin $primary-color;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 128, 0, 0.9);
  @media screen and (max-width: 767px) {
    left: 0;
  }

  &__book-container {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__img-holder {
    position: relative;
    margin: 10px;
    width: 80px;
  }
  &__btn-delete {
    position: absolute;
    border: solid thin $primary-color;
    border-radius: 3px;
    background: $bg-color;
    bottom: 0px;
    right: 0px;
    width: 20px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
  }
  &__img {
    border: solid thin $primary-color;
    border-radius: 3px;
    min-height: 100%;
    width: 100%;
  }
  &__img-holder:hover {
    transform: scale(1.05);
  }
  &__icon {
    font-size: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
  }
}
.show-wishlist {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s, opacity 1s linear;
}
