.wishlist {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 0.5s ease-in;
  width: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: solid thin black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 128, 0, 0.9);
  border-radius: 7.9%;
  &__book-container {
    display: flex;
  }

  &__img-holder {
    position: relative;
    margin: 10px;
    width: 80px;
  }
  &__btn-delete {
    position: absolute;
    bottom: 4px;
    right: 0px;
    width: 20px;
    color: blue;
  }
  &__img {
    // margin: 10px;
    border: solid thin black;

    width: 100%;
  }
  &__img-holder:hover {
    transform: scale(1.05);
  }
}

.show-wishlist {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s, opacity 1s linear;
}
