@import "variables";
@import "mixins";
@import "functions";
@import "bookCard";
@import "search";
@import "wishlistFooter";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sofia", sans-serif;
}

section {
  @include grid;
  @media screen and (max-width: 767px) {
    grid-template-columns: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: auto auto;
  }
}
