@import "variables";
@import "mixins";
@import "functions";
@import "breakpoints";
@import "bookCard";
@import "search";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  &__logo {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
  &__input {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    margin: 30px auto;
    border: 1px solid black;
  }
}

.btn {
  position: fixed;
  width: 100%;
  max-width: 180px;
  padding: 20px;
  background-color: #ff8000;
  border: none;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    font-size: 16px;
  }
  &__icon {
    font-size: 15px;
  }
}

section {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  justify-content: center;
  column-gap: 50px;
}

.card {
  text-align: center;
  box-shadow: 4px 4px 8px 4px #302d2d;
  width: 100%;
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 30px;
  &__title {
    padding-top: 15px;
    text-transform: uppercase;
  }
  &__img {
    width: 100%;
    margin: 0 auto;
    width: 180px;
  }
  &__content {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  &__content p {
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  section {
    grid-template-columns: auto;
  }
  .search__input {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    grid-template-columns: auto auto;
  }
}
